#toolbar {
   position:absolute;
   height: 69px;
   background-color: #cfc5ad;
   background-image: url(/graphics/ncgap/OG_COOPERATORS_tan.png);
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: right;
   top: 0px;
   left: 0px;
   right: 0px;
   margin: 0px;
   width: 100%;
   z-index: 10;
}
/*
#query_mesg {
   position: absolute;
   top:5px;
   right:15%;
   font-family:sans-serif;
   font-size: small;
}*/

          